h1 {    
font-family: monospace; /* Changes the h1 headings font to monospace */
color: purple; /* Changes the h1 headings color to purple*/
text-align: center; /* Positions the h1 text in the center of the page*/}